# Default ignored files
/shelf/
/.idea/workspace.xml
/.idea

# macOS
/.DS_Store
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# 민감 정보 파일
/src/main/resources/handy-curve-428107-k7-6d58aaca3454.json
/src/main/resources/handy-curve-428107-k7-d31ceda8bee0.json
/src/main/resources/application.yml